.col-md-3{
  border: 1px solid black;
}

.footer{
  background-color: black;
  padding: 3.5%;
}

.spacer{
  padding: 2%;
}

.header{
  background-color: black;
  padding: 2%;
}
.spacer-2{
  padding:1%;
}
/* eric's temp add */
btn{
  display:inline-block;

}
.title {
  position: relative;
  display: inline;
  font-weight: bold;
  left: 10%;
}

.authorTime {
  position: relative;
  display: block;
  left: 15%;
  font-style: italic;
}

.picture img{
  display:inline;
  width: 15%;
  float:left;
  border-radius: 15%;
  margin-top: 5px;
  z-index: -100;
}

.thumbnail {
  height: 25%;
  min-height: 115px;
}
