/* * */

@import url('https://fonts.googleapis.com/css?family=Heebo');

@font-family{
  font-family: 'Heebo', sans-serif;
  }

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    line-height: 1.5;
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
}


.container-fluid {
    padding: 0px;
}



/* jumbotron Style*/
.jumbotron {
    background: url('../img/woodtable.jpg')no-repeat center;
    background-size: cover;
    color: #00ABA0;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
    margin: 0px;
    border-radius: 0px;
    padding-top: 0px;
}

.header-logo{
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    padding-left:0;
    padding-right:0
    border-style: solid;
    border-bottom: thin #ff0000;
}

.carousel-inner {
    padding-top: 5%;
    width: 100%;
    max-height: 200px;
    overflow: visible;
}

.container-fluid .jumbotron {
    border-radius: 0px;
    height: auto;
    width: 100%;
}

.carousel-indicators li {
    visibility: hidden;
}

#carousel-example-generic{
    position: relative;
    margin:auto;
    padding: 10%;
    height: 100%;
}

.img-container{
    height: 200px;
}

#header-logo{
    text-align: left;
    padding-left: 10%;
}

.columns{
    float: left;
    padding-left: .9375em;
    padding-right: .9375em;
}

#carousel-example-generic{
    max-height: 900px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 3;
  opacity: 0;

}
/*.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}*/
/*.carousel-fade .carousel-control {
  z-index: 2;
}*/
/*Navigation/Search bar style*/

.navbar {
    padding-top: 10px;
    margin: 0px;
}

.searchStyles {
    background-color: #77BA46;
    color: white;
    padding: 10px;
    border-radius: 0px;
    margin-top: 0px;
    border: 0px;
    text-align: center;
}

.searchStyles input {
  border-radius: 0;
}

.buttonArea {
  text-align: center;
  font-size: 0;
  background-color: #006196;

}

/* Article style*/

/*modal*/

.article-title span{
    color: white;
    font-family: 'Heebo', sans-serif;;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
    height: 500px;
    padding: 0 5px;
    vertical-align: middle;
    display: table-cell;
    background-color: rgba(192,192,192,0.4);
}

.article-title {
    display: table;
    margin: 0px;
    width: 100%;
}

.article-title span:hover {
    opacity: 0.01;
}

.aStyles{
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.articleDiv {
    height: 500px;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a:first-child {
    text-decoration: none;
}

.ng-binding{
    padding: 20px;
}

.modal-title.ng-binding{
  font-weight: bolder;
}
blockquote{
  font-style: italic;
  font-size: 15px;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* Footer style*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #77BA46;
    color: white;
    padding: 2%;
}

/* BUTTONS Style */
.mainButton {
    margin-top: 15px;
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: grey;
}

.btn {
	background-color:#4C997E;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius: 0;
	/*border:1px solid #ffffff;*/
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8C8C8C;
}
/*.btn:hover {
	background-color:#4C997E;
}*/
.btn:active {
	position:relative;
	top:1px;
}

.toggleButton {
  text-align: center;
  background-color: grey;
  padding-left: : 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;

}


.buttonSelected {
  background-color: brown;
  color: white;
  text-decoration: none;
}
.buttonSelected:focus {
  color: white;
}

/* Styling for scroll to top button*/
.goToTop {
    position: fixed;
    width: 100px;
    height: 40px;
    bottom: 0;
    right: 0;
    z-index: 100000;
    cursor: pointer;
    margin: 10px;
    background-color: grey;
    -moz-opacity: 0.90;
    opacity: .90;
    filter: alpha(opacity=90);
    text-align: center;
    color: white;
}
