.col-md-3{
  border: 1px solid black;
}

.footer{
  background-color: black;
  padding: 3.5%;
}

.spacer{
  padding: 2%;
}

.header{
  background-color: black;
  padding: 2%;
}
.spacer-2{
  padding:1%;
}

/* eric's temp add */



img {
  height: 250px;
  width: 250px;

}
