<div class="row-2">

  <div class="col-md-3">
    <h2>Publication</h2>
    <h3>Title </h3>
    <i>Author</i>
    <p> article  </p>
    <a href="#"><img src = ""/> </a>
    </p>
  </div>

  <div class = "col-md-1">
  </div>

  <div class="col-md-3">
    <h2>Publication</h2>
    <h3>Title </h3>
    <i>Author</i>
    <p> article  </p>
    <a href="#"><img src = ""/> </a>
    </p>
  </div>

  <div class = "col-md-1">
  </div>

  <div class="col-md-3">
    <h2>Publication</h2>
    <h3>Title </h3>
    <i>Author</i>
    <p> article  </p>
    <a href="#"><img src = ""/> </a>
    </p>
  </div>
  <div class = "col-md-1">
  </div>
</div>
</div>
