<div class="container">
  <div class="row"  ng-repeat= "article in displayedNewsPromise">
    <div ng-click="openLightboxModal($index)">


    <!-- <div id= "demoLightbox" class="lightbox-hide-fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="lightbox-content"> -->

        <a data-toggle="lightbox" href="#demoLightbox">
        <h2>{{article.source}}</h2>
        <h3 class = "title">{{article.title}}</h3>
        <i class = "authorTime" >{{article.author}}</i>
        <p> {{article.description}}  </p>
        <img class = "picture" ng-src = '{{article.urlToImage}}'/>
      {{article.url}}  </a>
      </div>
      </div>
    </div>

     <!-- <a class="popout" href="{{article.url}}"></a> -->
    <!-- <a data-fancybox data-type="ajax" data-src="{{article.url}}" data-selector="#two" href="javascript:;"><img class = "picture" src = "{{article.urlToImage}}"/></a> -->
 <!-- <a data-fancybox data-src="#hidden-content-1" href="javascript:;" class="btn">Open demo</a> -->
 <!-- <div style="display: none;" id="hidden-content-1">
 <h2>Hello!</h2>
 <p>You are awesome!</p>
</div> -->

  <!-- <div class="row"  ng-repeat= "article in displayedNewsPromise">
    <div class = "thumbnail">
     <a class="popout" href="{{article.url}}"><img class = "picture" src = "{{article.urlToImage}}"/> </a> -->
    <!-- <a data-fancybox data-type="ajax" data-src="{{article.url}}" data-selector="#two" href="javascript:;"><img class = "picture" src = "{{article.urlToImage}}"/></a> -->
 <!-- <a data-fancybox data-src="#hidden-content-1" href="javascript:;" class="btn">Open demo</a>
 <div style="display: none;" id="hidden-content-1">
 <h2>Hello!</h2>
 <p>You are awesome!</p>
</div>
    <h2>{{article.source}}</h2>
    <h3 class = "title">{{article.title}}</h3>
    <i class = "authorTime" >{{article.author}}</i>
    <p> {{article.description}}  </p>-->
