<div class="jumbotron">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class ="row"><div class='container'>
        <div class="col-md-7 text-left">
          <h1 class ='animated fadeInDown'> Silence the noise!</h1>
          <h3 class ='animated fadeInDown'> Push what's important to the foreground!</h3>
          <!-- <img class= 'map' src="img/102916_scivis_feat.jpg" alt="map"> -->
        </div>
      </div></div>
    </div>

    <div class="item">
      <div class ="row"><div class='container'>
        <div class="col-md-7 text-left">
        <h1 class ='animated fadeInDown'> Search the news you want to see!</h1>
      <!-- <div class="col-md-5 text-right">
      <img src="img/ap.jpg" alt="ap" height="200" width="200">
    </div> -->
        </div>
      </div></div>
    </div>

    <div class="item">
      <div class ="row"><div class='container'>
        <div class="col-md-4 text-left">
        <img class ='animated bouncein' src="img/ap.jpg" alt="ap" height="80" width="80">
        </div>
        <div class="col-md-4 text-left">
        <img class ='animated bouncein' src="img/au-news.png" alt="au" height='80' width='160'>
        </div>
        <div class="col-md-4 text-left">
        <img class ='animated bouncein' src="img/ars_Technica_logo.svg.png" alt="au" height='80' width='160'>
        </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
</div>
