<div class="row-2">
    <div>
        <div class="col-md-3 articleDiv wow bounceInUp" ng-repeat="article in news.normFilter" style="background-image: url({{article.urlToImage}})">
            <h3>{{article.title}}</h3>
            </p>
            <div class="modal fade" id="modal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg center-block" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h2 class="modal-title" id="myModalLabel">{{article.title}}</h2>
                        </div>
                        <div class="modal-body">
                            <div ng-bind-html="wholeArticle"></div>
                            <a href="{{article.url}}">Source Article</a>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg" data-target="#modal{{$index}}" data-toggle="modal" ng-click='viewArticle(article.url)'>
  Read
</button>
        </div>
    </div>
</div>
