<div class="row-2">
      <div>

        <div class="col-md-3 articleDiv" id= " image-button" ng-repeat="article in news.reverseFilter" style="background-image: url({{article.urlToImage}})"  >

      <div class='button' data-target= "#modal{{$index}}" data-toggle= "modal" ng-click= 'viewArticle(article.url)'>
          <!-- Read -->
          <h3 class='article-title'><span>{{article.title}}</span></h3>
          <!-- <i class= 'author'><span>{{article.author}}</span></i> -->
          <a href="{{article.url}}"> </a>
        </div>

            <div class="modal fade" id="modal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <h2 class="modal-title" id="myModalLabel">{{article.title}}</h2>
                        </div>

                        <div class="modal-body">
                            <div ng-bind-html="wholeArticle"></div>
                        </div>
                      </div>
                </div>
            </div>
      </div>
  </div>



<!-- <div class="row-2">
    <div>

        <div class="col-md-3 articleDiv" ng-repeat="article in news.reverseFilter">

        <div class ='image-button' style="background-image:   url({{article.urlToImage}})" data-target="#modal{{$index}}"     data-toggle="modal" ng-click='viewArticle(article.url)'>
          <!Read -->

        <!-- <p class = 'boxtext'>
          <h3 class = 'article-title'><span>{{article.title}}</span></h3> -->
          <!-- <i class= 'author'><span>{{article.author}}</span></i> -->
          <!-- <a href="{{article.url}}"> </a>

          </p>

        </div>

            <div class="modal fade" id="modal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <h2 class="modal-title" id="myModalLabel">{{article.title}}</h2>
                        </div>

                        <div class="modal-body">
                            <div ng-bind-html="wholeArticle"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  -->
