<nav class="navbar navbar-default" role="navigation">

  <div class="navbar" id="navbar-1">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>

      <!-- need bower (should be included in npm install)to run the toggle . Will look like a checkbox until then -->
      <label class="checkbox-inline">
        <input type="checkbox" checked data-toggle="toggle"> Reverse
      </label>
    </form>

    <div class ="breadCrumbs">
    <!-- pull from search -->
    </div>
  </div>

</nav>
